includes:
    - phpstan-baseline.neon
    - vendor/jangregor/phpstan-prophecy/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon

parameters:
    level: max
    paths:
        - src
        - tests
    inferPrivatePropertyTypeFromConstructor: true
    excludePaths:
        - %currentWorkingDirectory%/vendor/*
    ignoreErrors:
        - '#Call to an undefined static method Symfony\\Component\\Intl\\Intl#'
