version: 2

jobs:
  build:
    docker:
      - image: circleci/php:7.1-node-browsers

    steps:
      - checkout
      - run: echo 'memory_limit = -1' | sudo tee -a /usr/local/etc/php/php.ini
      - run: sudo composer self-update
      - restore_cache:
          keys:
            - composer-v1-{{ checksum "composer.json" }}
            - composer-v1-
      - run: composer install -n --prefer-dist
      - save_cache:
          key: composer-v1-{{ checksum "composer.json" }}
          paths:
            - vendor
            - ~/.composer/cache
      - run: composer lint
      - run: composer test
